body {
  background: #DCDCDC;
  font-family: verdana;
  max-width: 900px;
  margin: auto;
}

.photo {
  border: 1px solid #556B2F;
  border-radius: 50%;
}

#title, .subtitle, .post_title {
  color: #A0522D;
}

#title {
  font-size: 40px;
  text-transform: uppercase;
}

a {
  text-decoration: line-through;
  color: #A0522D;
}

.post_title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

.post {
  background: #FFFAFA;
  padding: 15px;
  border: 3px solid #556B2F;
  margin-bottom: 15px;
  border-radius: 5px;
}

.post_content {
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: justify;
}

.section_post_content {
  margin: 0;
  font-style: italic;
}

.post_image {
  margin-bottom: 15px;
  border-radius: 20px;
  width: 100%;
}

.contact_list {
  list-style-type: none;
  padding-left: 15px;
}

.contact_list li a {
  text-decoration: none;
}
